# satelle hosted API — OpenAPI 3.0.3 specification
#
# This is the canonical interface definition. The CLI publishes it; servers in
# any language implement it with their own types (verified by contract tests on
# the server side). The reference Go types live in api/types.go.

openapi: "3.0.3"
info:
  title: satelle hosted API
  version: 0.0.130
  description: >-
    Public interface for the satelle hosted server. Covers authentication,
    principal identity, and project management. The CLI publishes this spec;
    servers implement it conformance-based (no shared module).

tags:
  - name: auth
    description: OAuth 2.1 + PKCE S256 authentication
  - name: projects
    description: Project management

servers:
  - url: https://satelle.dev
    description: Production hosted server

security:
  - BearerToken: []

paths:
  /api/v1/me:
    get:
      operationId: getMe
      summary: Current principal
      description: Returns the authenticated principal's identity.
      tags: [projects]
      responses:
        "200":
          description: The current principal.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Principal"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /api/v1/projects:
    get:
      operationId: listProjects
      summary: List caller's projects
      description: Returns all projects the authenticated principal is a member of.
      tags: [projects]
      responses:
        "200":
          description: Array of projects.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Project"
        "401":
          $ref: "#/components/responses/Unauthorized"
    post:
      operationId: createProject
      summary: Create project
      description: >-
        Creates a new project, making the authenticated principal its owner.
        The slug must be unique (409 on collision).
      tags: [projects]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateProjectRequest"
      responses:
        "201":
          description: Project created.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Project"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "409":
          description: Slug already exists.

  /oauth/authorize:
    get:
      operationId: oauthAuthorize
      summary: Authorization endpoint
      description: >-
        Browser redirect to initiate the OAuth 2.1 authorization code flow
        with PKCE S256. The client (satelle-cli) sends the user's browser here;
        on approval the server redirects back to the client's redirect_uri
        with a code and state.
      tags: [auth]
      security: []
      parameters:
        - name: response_type
          in: query
          required: true
          schema:
            type: string
            enum: [code]
        - name: client_id
          in: query
          required: true
          schema:
            type: string
          description: Public client identifier (e.g. "satelle-cli").
        - name: redirect_uri
          in: query
          required: true
          schema:
            type: string
            format: uri
        - name: state
          in: query
          required: true
          schema:
            type: string
          description: CSRF protection token echoed back in the redirect.
        - name: code_challenge
          in: query
          required: true
          schema:
            type: string
          description: PKCE S256 challenge (base64url of SHA-256 of the verifier).
        - name: code_challenge_method
          in: query
          required: true
          schema:
            type: string
            enum: [S256]
      responses:
        "302":
          description: >-
            Redirect to redirect_uri with code and state query parameters on
            approval, or error and error_description on denial.
          headers:
            Location:
              schema:
                type: string
                format: uri

  /oauth/token:
    post:
      operationId: oauthToken
      summary: Token endpoint
      description: >-
        Exchanges an authorization code (authorization_code grant) or refreshes
        tokens (refresh_token grant). Request and response use form-encoded and
        JSON respectively.
      tags: [auth]
      security: []
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required: [grant_type, client_id]
              properties:
                grant_type:
                  type: string
                  enum: [authorization_code, refresh_token]
                client_id:
                  type: string
                code:
                  type: string
                  description: Authorization code (authorization_code grant only).
                refresh_token:
                  type: string
                  description: Refresh token (refresh_token grant only).
                redirect_uri:
                  type: string
                  format: uri
                  description: Redirect URI used in the authorize request (authorization_code grant only).
                code_verifier:
                  type: string
                  description: PKCE S256 verifier (authorization_code grant only).
      responses:
        "200":
          description: Token response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TokenResponse"
        "400":
          description: Invalid request or OAuth error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OAuthError"

components:
  securitySchemes:
    BearerToken:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: >-
        OAuth 2.0 bearer token obtained via /oauth/token. On 401, clients
        should attempt a refresh_token grant and retry once.

  schemas:
    Principal:
      type: object
      required: [id, email, display_name, role]
      properties:
        id:
          type: string
          description: Unique principal identifier.
        email:
          type: string
          format: email
        display_name:
          type: string
        role:
          type: string
          description: Principal role (e.g. "admin", "member").

    Project:
      type: object
      required: [id, slug, name]
      properties:
        id:
          type: string
          description: Unique project identifier.
        slug:
          type: string
          description: URL-safe project slug (unique per server).
        name:
          type: string
        role:
          type: string
          description: >-
            Caller's role on this project (e.g. "owner", "editor", "viewer").
            Omitted when the response does not carry membership info.

    CreateProjectRequest:
      type: object
      required: [slug, name]
      properties:
        slug:
          type: string
          description: URL-safe slug for the new project (must be unique).
        name:
          type: string

    TokenResponse:
      type: object
      required: [access_token, refresh_token, token_type]
      properties:
        access_token:
          type: string
          description: Bearer access token.
        refresh_token:
          type: string
          description: Refresh token for obtaining a new access token.
        token_type:
          type: string
          example: Bearer
        expires_in:
          type: integer
          format: int64
          description: Access token lifetime in seconds.
        scope:
          type: string
          description: Granted scope(s).

    OAuthError:
      type: object
      properties:
        error:
          type: string
          description: OAuth error code (e.g. "invalid_grant", "invalid_client").
        error_description:
          type: string

    ErrorEnvelope:
      type: object
      properties:
        error:
          type: string
          description: Machine-readable error code.
        message:
          type: string
          description: Human-readable error message.

  responses:
    Unauthorized:
      description: Authentication required or token expired.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorEnvelope"
