# satelle hosted API — OpenAPI 3.0.3 specification
#
# This is the canonical interface definition. The CLI publishes it; servers in
# any language implement it with their own types (verified by contract tests on
# the server side). The reference Go types live in api/types.go.

openapi: "3.0.3"
info:
  title: satelle hosted API
  version: 0.0.134
  description: >-
    Public interface for the satelle hosted server. Covers authentication,
    principal identity, project management, the versioned config store, the
    workspace-scoped document store, work-state replication (push backup + pull
    rehydrate), and the team publish catalog. The CLI publishes this spec;
    servers implement it conformance-based (no shared module).

tags:
  - name: auth
    description: OAuth 2.1 + PKCE S256 authentication
  - name: projects
    description: Project management
  - name: workspaces
    description: Workspace identity and selection
  - name: config
    description: >-
      Versioned, per-user authored-config store (the "set up project X like Y"
      surface). Project-addressed under /api/v1/projects/{project}/config.
  - name: documents
    description: >-
      Project-addressed authored-document store (byte-exact markdown, no
      conversion). Per-file push/pull with an incremental changed-since list.
  - name: workstate
    description: >-
      One-way local→server work-state mirror (stories, executions, ledger).
      Project-addressed; origin stamped cli-sync server-side.
  - name: published
    description: >-
      Team-workspace publisher-owned catalog (satelle publish). Not a sync
      destination — consumers adopt personal copies; personal sync remains
      project-scoped on the personal workspace.

servers:
  - url: https://satelle.dev
    description: Production hosted server

security:
  - BearerToken: []

paths:
  /api/v1/me:
    get:
      operationId: getMe
      summary: Current principal
      description: Returns the authenticated principal's identity.
      tags: [projects]
      responses:
        "200":
          description: The current principal.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Principal"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /api/v1/projects:
    get:
      operationId: listProjects
      summary: List caller's projects
      description: Returns all projects the authenticated principal is a member of.
      tags: [projects]
      responses:
        "200":
          description: Array of projects.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Project"
        "401":
          $ref: "#/components/responses/Unauthorized"
    post:
      operationId: createProject
      summary: Create project
      description: >-
        Creates a new project, making the authenticated principal its owner.
        The slug must be unique (409 on collision).
      tags: [projects]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateProjectRequest"
      responses:
        "201":
          description: Project created.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Project"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "409":
          description: Slug already exists.

  /api/v1/workspaces:
    get:
      operationId: listWorkspaces
      summary: List caller's workspaces
      description: >-
        Returns the workspaces the authenticated principal belongs to — their own
        personal workspace plus any shared/team workspaces. Used by the CLI to
        resolve the active workspace for scoped sync.
      tags: [workspaces]
      responses:
        "200":
          description: Array of workspaces.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Workspace"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /api/v1/projects/{project}/config:
    get:
      operationId: listConfig
      summary: List a project's config manifest (the deploy set)
      description: >-
        Returns the latest version of every config path in the project — the
        deploy set "satelle sync config deploy" materializes ("set up project X
        like Y"). Any project member may read it.
      tags: [config]
      parameters:
        - $ref: "#/components/parameters/Project"
      responses:
        "200":
          description: Array of config manifest items.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/ConfigItem"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /api/v1/projects/{project}/config/{path}:
    put:
      operationId: pushConfigFile
      summary: Push one config file (append a new version)
      description: >-
        Uploads one file's verbatim bytes (raw body, <=1 MiB), appending a new
        version (head) when the content differs from the current head. Identical
        content is idempotent: the response carries created=false (HTTP 200)
        rather than a new head (HTTP 201). Contributor/admin role required.
      tags: [config]
      parameters:
        - $ref: "#/components/parameters/Project"
        - name: path
          in: path
          required: true
          schema:
            type: string
          description: >-
            The server-relative config path (e.g. "skills/review.md",
            "agents.toml", "constitution.md"). Multi-segment paths are accepted.
      requestBody:
        required: true
        content:
          text/plain:
            schema:
              type: string
              format: binary
      responses:
        "200":
          description: Idempotent re-push of the current head (no new version).
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ConfigPushResult"
        "201":
          description: New version appended (new head).
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ConfigPushResult"
        "401":
          $ref: "#/components/responses/Unauthorized"
    get:
      operationId: getConfigFile
      summary: Fetch one config file's content
      description: >-
        Returns one path's content as text/plain; the ETag header is the blob
        sha256. ?version=N pins a per-file version (default: latest head);
        ?history=1 returns that path's version list as JSON instead. Any member.
      tags: [config]
      parameters:
        - $ref: "#/components/parameters/Project"
        - name: path
          in: path
          required: true
          schema:
            type: string
          description: The server-relative config path.
        - name: version
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
          description: Pin a per-file version (default: latest head).
        - name: history
          in: query
          required: false
          schema:
            type: integer
            enum: [1]
          description: Return the path's version list as JSON instead of content.
      responses:
        "200":
          description: The file content (or the version list when history=1).
          headers:
            ETag:
              schema:
                type: string
              description: The blob sha256 (content fetch only).
          content:
            text/plain:
              schema:
                type: string
                format: binary
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/ConfigItem"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          description: No such path (or the pinned version predates its first appearance).

  /api/v1/projects/{project}/config-rollback:
    post:
      operationId: rollbackConfigFile
      summary: Roll back a config file to an earlier version
      description: >-
        Appends a new head copying an earlier version of a path, recovering a
        prior version. Contributor/admin role required.
      tags: [config]
      parameters:
        - $ref: "#/components/parameters/Project"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ConfigRollbackRequest"
      responses:
        "201":
          description: New head appended from the earlier version.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ConfigPushResult"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          description: No such path or version.

  /api/v1/projects/{project}/documents:
    get:
      operationId: listDocumentChanges
      summary: List document changes (incremental pull)
      description: >-
        Returns documents that changed after the optional `since` cursor, plus
        a new cursor for the next pull. Without `since`, returns the full set
        with a cursor. Metadata only — content is fetched per-path. Any member.
      tags: [documents]
      parameters:
        - $ref: "#/components/parameters/Project"
        - name: since
          in: query
          required: false
          schema:
            type: string
          description: Opaque cursor from a previous listDocumentChanges response.
      responses:
        "200":
          description: Changed items plus the next cursor.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DocumentChanges"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /api/v1/projects/{project}/documents/{path}:
    put:
      operationId: pushDocumentFile
      summary: Push one document file (append a new version)
      description: >-
        Uploads one file's verbatim bytes (raw body), appending a new version
        when the content differs from the current head. Identical content is
        idempotent (created=false, HTTP 200). A conflict the client must resolve
        is HTTP 409. Contributor/admin role required.
      tags: [documents]
      parameters:
        - $ref: "#/components/parameters/Project"
        - name: path
          in: path
          required: true
          schema:
            type: string
          description: >-
            Server-relative document path (e.g. "documents/notes.md").
            Multi-segment paths are accepted.
      requestBody:
        required: true
        content:
          text/plain:
            schema:
              type: string
              format: binary
      responses:
        "200":
          description: Idempotent re-push of the current head (no new version).
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ConfigPushResult"
        "201":
          description: New version appended (new head).
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ConfigPushResult"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "409":
          description: Conflict — client must resolve before retrying.
    get:
      operationId: getDocumentFile
      summary: Fetch one document file's content
      description: >-
        Returns one path's content as text/plain; the ETag header is the blob
        sha256. Any member.
      tags: [documents]
      parameters:
        - $ref: "#/components/parameters/Project"
        - name: path
          in: path
          required: true
          schema:
            type: string
          description: The server-relative document path.
      responses:
        "200":
          description: The file content.
          headers:
            ETag:
              schema:
                type: string
              description: The blob sha256.
          content:
            text/plain:
              schema:
                type: string
                format: binary
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          description: No such path.

  /api/v1/projects/{project}/workstate:
    post:
      operationId: ingestWorkstate
      summary: Ingest a work-state batch (local→server backup)
      description: >-
        Upserts stories/executions (items) and ledger entries into the workspace
        mirror. The server stamps origin=cli-sync on every row — the client must
        not supply origin. Idempotent on re-push (upsert by id). Editor/owner
        required. Work-state is per-user by design; the CLI always targets the
        personal workspace even when a team workspace is active for config/docs.
        Pull (rehydrate) uses GET …/workstate/items and GET …/workstate/ledger.
      tags: [workstate]
      parameters:
        - $ref: "#/components/parameters/Project"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/WorkstateIngest"
      responses:
        "200":
          description: Upsert counts for this batch.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WorkstateIngestResult"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /api/v1/projects/{project}/workstate/items:
    get:
      operationId: listWorkstateItems
      summary: List mirrored work-state items (pull/rehydrate)
      description: >-
        Returns the project partition's mirrored stories/executions. Any member
        may read. The CLI uses this for satelle sync workstate pull.
      tags: [workstate]
      parameters:
        - $ref: "#/components/parameters/Project"
        - name: kind
          in: query
          schema:
            type: string
          description: Optional exact kind filter (story|execution).
      responses:
        "200":
          description: Mirrored items with promoted fields and CLI record payload.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/WorkstateItem"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /api/v1/projects/{project}/workstate/ledger:
    get:
      operationId: listWorkstateLedger
      summary: List mirrored work-state ledger (pull/rehydrate)
      description: >-
        Returns the project partition's mirrored ledger entries. Optional
        ?story= narrows to one story; omit for the whole project ledger.
      tags: [workstate]
      parameters:
        - $ref: "#/components/parameters/Project"
        - name: story
          in: query
          schema:
            type: string
          description: Optional story id filter.
      responses:
        "200":
          description: Mirrored ledger rows with CLI record payload.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/WorkstateLedgerRow"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /api/v1/workspaces/{workspaceId}/published:
    get:
      operationId: listPublishedArtifacts
      summary: List published team-catalog heads
      description: >-
        Returns the latest head of every path in the workspace's publisher-owned
        team catalog. Full list (no cursor). Team workspaces only in practice;
        personal sync never targets this route. Any member may list.
      tags: [published]
      parameters:
        - $ref: "#/components/parameters/WorkspaceId"
      responses:
        "200":
          description: Catalog heads.
          content:
            application/json:
              schema:
                type: object
                required: [items]
                properties:
                  items:
                    type: array
                    items:
                      $ref: "#/components/schemas/PublishedItem"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /api/v1/workspaces/{workspaceId}/published/{path}:
    put:
      operationId: publishArtifact
      summary: Publish one path (append a new version when content changes)
      description: >-
        Uploads one file's verbatim bytes (raw body) into the team catalog under
        the authenticated principal as publisher. Identical content is
        idempotent (created=false, HTTP 200). A new version returns HTTP 201.
        Only the existing publisher may append a later version (403 otherwise).
        Not a sync destination — use personal path stores for dual-home sync.
      tags: [published]
      parameters:
        - $ref: "#/components/parameters/WorkspaceId"
        - name: path
          in: path
          required: true
          schema:
            type: string
          description: >-
            Server-relative artifact path (e.g. "skills/shared.md",
            "documents/note.md"). Multi-segment paths are accepted.
        - name: kind
          in: query
          required: true
          schema:
            type: string
          description: Artifact kind (document|workflow|skill|principle|…).
        - name: title
          in: query
          required: false
          schema:
            type: string
          description: Optional display title.
      requestBody:
        required: true
        content:
          text/plain:
            schema:
              type: string
              format: binary
      responses:
        "200":
          description: Idempotent re-publish of the current head (no new version).
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PublishedItem"
        "201":
          description: New version appended (new head).
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PublishedItem"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          description: Caller is not the publisher of this path.
    get:
      operationId: getPublishedArtifact
      summary: Fetch one published path's content
      description: >-
        Returns one path's content as text/plain. Headers carry publish metadata
        (version, kind, publisher id); ETag is the blob sha256. ?version=N pins
        a version (default: latest head). Any member may read.
      tags: [published]
      parameters:
        - $ref: "#/components/parameters/WorkspaceId"
        - name: path
          in: path
          required: true
          schema:
            type: string
          description: Server-relative artifact path.
        - name: version
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
          description: Pin a published version (default: latest head).
      responses:
        "200":
          description: The published content.
          headers:
            ETag:
              schema:
                type: string
              description: The blob sha256.
            X-Satelle-Publish-Version:
              schema:
                type: string
              description: Version number of the returned content.
            X-Satelle-Publish-Kind:
              schema:
                type: string
              description: Artifact kind.
            X-Satelle-Publisher-Id:
              schema:
                type: string
              description: Publisher principal id.
          content:
            text/plain:
              schema:
                type: string
                format: binary
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          description: No such path (or version).

  /oauth/authorize:
    get:
      operationId: oauthAuthorize
      summary: Authorization endpoint
      description: >-
        Browser redirect to initiate the OAuth 2.1 authorization code flow
        with PKCE S256. The client (satelle-cli) sends the user's browser here;
        on approval the server redirects back to the client's redirect_uri
        with a code and state.
      tags: [auth]
      security: []
      parameters:
        - name: response_type
          in: query
          required: true
          schema:
            type: string
            enum: [code]
        - name: client_id
          in: query
          required: true
          schema:
            type: string
          description: Public client identifier (e.g. "satelle-cli").
        - name: redirect_uri
          in: query
          required: true
          schema:
            type: string
            format: uri
        - name: state
          in: query
          required: true
          schema:
            type: string
          description: CSRF protection token echoed back in the redirect.
        - name: code_challenge
          in: query
          required: true
          schema:
            type: string
          description: PKCE S256 challenge (base64url of SHA-256 of the verifier).
        - name: code_challenge_method
          in: query
          required: true
          schema:
            type: string
            enum: [S256]
      responses:
        "302":
          description: >-
            Redirect to redirect_uri with code and state query parameters on
            approval, or error and error_description on denial.
          headers:
            Location:
              schema:
                type: string
                format: uri

  /oauth/token:
    post:
      operationId: oauthToken
      summary: Token endpoint
      description: >-
        Exchanges an authorization code (authorization_code grant) or refreshes
        tokens (refresh_token grant). Request and response use form-encoded and
        JSON respectively.
      tags: [auth]
      security: []
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required: [grant_type, client_id]
              properties:
                grant_type:
                  type: string
                  enum: [authorization_code, refresh_token]
                client_id:
                  type: string
                code:
                  type: string
                  description: Authorization code (authorization_code grant only).
                refresh_token:
                  type: string
                  description: Refresh token (refresh_token grant only).
                redirect_uri:
                  type: string
                  format: uri
                  description: Redirect URI used in the authorize request (authorization_code grant only).
                code_verifier:
                  type: string
                  description: PKCE S256 verifier (authorization_code grant only).
      responses:
        "200":
          description: Token response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TokenResponse"
        "400":
          description: Invalid request or OAuth error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OAuthError"

components:
  securitySchemes:
    BearerToken:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: >-
        OAuth 2.0 bearer token obtained via /oauth/token. On 401, clients
        should attempt a refresh_token grant and retry once.

  parameters:
    WorkspaceId:
      name: workspaceId
      in: path
      required: true
      schema:
        type: string
      description: The workspace identifier the config store is scoped to.
    ProjectSlug:
      name: project
      in: query
      required: true
      schema:
        type: string
      description: >-
        Hosted project id or slug this collection is partitioned by (must
        belong to the workspace). Personal sync routes require it; missing
        project → 400.

  schemas:
    Principal:
      type: object
      required: [id, email, display_name, role]
      properties:
        id:
          type: string
          description: Unique principal identifier.
        email:
          type: string
          format: email
        display_name:
          type: string
        role:
          type: string
          description: Principal role (e.g. "admin", "member").

    Project:
      type: object
      required: [id, slug, name]
      properties:
        id:
          type: string
          description: Unique project identifier.
        slug:
          type: string
          description: URL-safe project slug (unique per server).
        name:
          type: string
        role:
          type: string
          description: >-
            Caller's role when the response carries membership (legacy field;
            live projects list may omit it). Workspace roles are
            admin/contributor/viewer.

    CreateProjectRequest:
      type: object
      required: [slug, name]
      properties:
        slug:
          type: string
          description: URL-safe slug for the new project (must be unique).
        name:
          type: string

    Workspace:
      type: object
      required: [id, kind, name]
      properties:
        id:
          type: string
          description: Unique workspace identifier.
        kind:
          type: string
          enum: [personal, team]
          description: >-
            "personal" is the caller's own workspace; "team" is a shared/team
            workspace multiple members sync to. (A scoped-sync "shared" SCOPE is
            a sync tier, not a workspace kind.)
        name:
          type: string
          description: Human-readable workspace name; the handle clients select on.

    ConfigItem:
      type: object
      required: [path, version, blob_sha256, size, created_at]
      description: >-
        One entry in a workspace's config manifest — the latest head of a config
        path. The deploy set for "set up project X like Y".
      properties:
        path:
          type: string
          description: >-
            Server-relative config path (e.g. "skills/review.md", "agents.toml",
            "constitution.md"). Multi-segment paths are accepted.
        version:
          type: integer
          minimum: 1
          description: The version number of this entry (1 = first, monotonically increasing).
        blob_sha256:
          type: string
          description: SHA-256 of the content bytes (hex); also served as the GET ETag.
        size:
          type: integer
          format: int64
          description: Content size in bytes.
        created_at:
          type: string
          format: date-time
          description: When this version was created.

    ConfigPushResult:
      type: object
      required: [path, version, blob_sha256, size, created]
      description: >-
        Per-file response to a config push. Created distinguishes a new head
        (true, HTTP 201) from an idempotent re-push of the current head (false,
        HTTP 200).
      properties:
        path:
          type: string
        version:
          type: integer
          minimum: 1
        blob_sha256:
          type: string
        size:
          type: integer
          format: int64
        created:
          type: boolean
          description: True iff this push appended a new head.

    ConfigRollbackRequest:
      type: object
      required: [path, version]
      description: >-
        Body for a config rollback: append a new head copying an earlier version
        of a path (recovery of a prior version).
      properties:
        path:
          type: string
        version:
          type: integer
          minimum: 1
          description: The earlier version to copy as the new head.

    DocumentChanges:
      type: object
      required: [items, cursor]
      description: >-
        Incremental document list response: items that changed after the
        caller's since cursor, plus the cursor for the next pull. Item shape
        reuses ConfigItem (path/version/blob_sha256/size/created_at).
      properties:
        items:
          type: array
          items:
            $ref: "#/components/schemas/ConfigItem"
        cursor:
          type: string
          description: Opaque cursor to pass as `since` on the next list call.

    WorkstateIngest:
      type: object
      required: [items, ledger]
      description: >-
        Work-state push batch. Each item needs id + kind; each ledger entry
        needs id. Extra fields are preserved as opaque payload server-side.
      properties:
        items:
          type: array
          items:
            type: object
            additionalProperties: true
        ledger:
          type: array
          items:
            type: object
            additionalProperties: true

    WorkstateIngestResult:
      type: object
      required: [items, ledger]
      description: Counts of upserted rows from a work-state ingest.
      properties:
        items:
          type: integer
        ledger:
          type: integer

    WorkstateItem:
      type: object
      required: [id, kind, type, status, title, origin, record]
      description: One mirrored work-state item from listWorkstateItems (pull).
      properties:
        id:
          type: string
        kind:
          type: string
          description: CLI kind (story|execution).
        type:
          type: string
          description: Cross-collection type derived from kind.
        status:
          type: string
        title:
          type: string
        origin:
          type: string
        record:
          type: object
          additionalProperties: true
          description: Verbatim CLI record payload.

    WorkstateLedgerRow:
      type: object
      required: [id, story_id, kind, type, origin, record]
      description: One mirrored ledger row from listWorkstateLedger (pull).
      properties:
        id:
          type: string
        story_id:
          type: string
        kind:
          type: string
        type:
          type: string
        origin:
          type: string
        record:
          type: object
          additionalProperties: true
          description: Verbatim CLI ledger record payload.

    PublishedItem:
      type: object
      required: [path, kind, version, blob_sha256, size, publisher_id, title, created_at]
      description: >-
        One head (or history entry) in a team workspace's publisher-owned
        catalog. Returned by listPublishedArtifacts and publishArtifact;
        getPublishedArtifact carries the same fields as response headers for
        the raw-byte body.
      properties:
        path:
          type: string
          description: Server-relative artifact path.
        kind:
          type: string
          description: Artifact kind (document|workflow|skill|principle|…).
        version:
          type: integer
          minimum: 1
          description: Version number (1 = first; monotonically increasing).
        blob_sha256:
          type: string
          description: SHA-256 of the content bytes (hex); also the GET ETag.
        size:
          type: integer
          format: int64
          description: Content size in bytes.
        publisher_id:
          type: string
          description: Principal id of the publisher (server-stamped from auth).
        title:
          type: string
          description: Optional display title (may be empty).
        created_at:
          type: string
          format: date-time
          description: When this version was created.
        created:
          type: boolean
          description: >-
            True iff this push appended a new head (HTTP 201). Omitted or false
            on list responses and idempotent re-publishes (HTTP 200).

    TokenResponse:
      type: object
      required: [access_token, refresh_token, token_type]
      properties:
        access_token:
          type: string
          description: Bearer access token.
        refresh_token:
          type: string
          description: Refresh token for obtaining a new access token.
        token_type:
          type: string
          example: Bearer
        expires_in:
          type: integer
          format: int64
          description: Access token lifetime in seconds.
        scope:
          type: string
          description: Granted scope(s).

    OAuthError:
      type: object
      properties:
        error:
          type: string
          description: OAuth error code (e.g. "invalid_grant", "invalid_client").
        error_description:
          type: string

    ErrorEnvelope:
      type: object
      properties:
        error:
          type: string
          description: Machine-readable error code.
        message:
          type: string
          description: Human-readable error message.

  responses:
    Unauthorized:
      description: Authentication required or token expired.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorEnvelope"
